@import url("https://fonts.googleapis.com/css?family=Righteous:400,700|IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic|IBM+Plex+Sans:300,400,500,600,700|Raleway");



$colorMain: #FFFAF1;
$coloraAccent: #DB3D3D;
$colorAccentDark: #A81E1C;
$colorAccentLight: #E27979;
$colorDark:#422A26;
$colorWhite: #FFFFFF;
$colorGrey: grey;

@mixin font {
    font-family: 'IBM Plex Serif', serif;
    
}

@mixin cardTitleText{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2em;
    color: $colorDark;
    text-transform: capitalize;
    text-align: left;
}
@mixin cardTextText{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    letter-spacing: .022em;
    line-height: 1.7em;
    font-size: 1em;
    color: $colorAccentDark;
    text-transform: capitalize;
}
@mixin fontDisplaySub {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .06em;
    font-weight: 500;
}
@mixin fontDisplay {
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 2.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

// Section Title-----
@mixin titleSection {
    text-align: start;
    padding-left: .35em;
    padding-top: .6em;
    align-self: end;
    font-weight: 600;
    background: white;
    color: $colorDark*1.5;
    border: 1px solid $colorAccentDark;
    @include fontDisplay;
    font-size: 24px;  
    
}

//standart link formating
@mixin link ($fontsize) {
    @include font;
    font-size: $fontsize; 
    text-transform: uppercase;
    font-weight: 200;
    text-decoration: none;
    position: relative;
    :before {
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    };
    
      :hover:before {
          color:black;
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    
}



// .stacked{
//     // transform-origin: center bottom;
    
//     // &:before,
//     // &:after {
//     //     transform-origin: center bottom;
//     // }
    
//     &:hover {
//         transform: translate(-2.5px, 0) rotate(-2.5deg);
        
//         &:before { transform: translate(2.5px, 0) rotate(2.5deg); }
//         &:after { transform: translate(5px, 0) rotate(5deg); }
//     }
// }


