@import '../../components/layouts/variables';

.card {
    // background: grey;
    min-width: 245px;
    max-width: 345px;
    min-height: 260px;
    max-height: 260px;
    justify-items: end;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: .3rem;
    
    border-radius: 0px;
    &Children{
        margin-left: .8rem !important;
    }
    .cardMedia {
        background: $colorAccentLight;
        height: 150px;
        width: 100%;
        &:hover {
            background: $colorAccentDark;
            color: $colorWhite;
        }
    };
    &Title {
        @include cardTitleText;
        padding: .8rem;
        &:hover {
            background: $colorAccentDark;
            color: $colorWhite;
        }
    }
    &Text {
        @include cardTextText;
        padding: .8rem;
    }
};