@import '../../components/layouts/variables';

a:any-link {
  // border: 1px solid blue; //TODO: delete 
  color: $colorAccentDark;
}




  .pageContainer {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    // grid-template-columns: 11.286% 11.286% 11.286% 11.286% 11.286% 11.286% 11.286% 11.286%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 86px 52px 56px 56px 100px 100px 100px 220px 220px 100px 100px;
    // height: 100vh;
    // width: 100%;
    align-items: center;
    // grid-gap: 16;
    // background-color: rgba(158, 158, 158, 0.171);
    margin: 0 9.7% 0 9.7%;
  };
  .title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 5;

    align-self: center;
    text-align: center;
    align-items: center;

    // font-size: 49px;
    margin: 0;
    padding: 0;
    @include fontDisplay;
    color: $colorAccentDark;

  };

  .subTitle {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 5;
    
    text-align: center;
    // align-self: center;
    font-size: 2.5rem;
    color: $colorAccentDark;
    @include fontDisplaySub;
  };
  .subTitleAbout {
    color: $colorAccentDark;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 5;

    text-align: center;
    font-size: 25px;
    letter-spacing: 0.1em;

    align-self: end;
  };
  .subTitleSkills {
    color: $colorAccentDark;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;

    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
  };
  .image {
    grid-area: 5 / span 2 / 7 / 9;
    align-self: flex-end;
    width: 300px;
    a:any-link {
      align-self: flex-end;
      position: relative;
      top: 30px;
      @include link(16px);
    }
  };
  .person {
    //  minHeight: '50px',
    //  minWidth: '50px',
      width: 351.5px;
      height: 130.2px;
      background: #fffaf1;
      border: 1px solid #95989a;

    &#1 {
      grid-area: 2 / 4 / 3 / 5,
    }
  }