@import url("https://fonts.googleapis.com/css?family=Righteous:400,700|IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic|Raleway");
a:-webkit-any-link {
  color: #A81E1C;
}
a:-moz-any-link {
  color: #A81E1C;
}
a:any-link {
  color: #A81E1C;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 86px 52px 56px 56px 100px 100px 100px 220px 220px 100px 100px 100px auto 100px 100px 100px 100px 100px;
      grid-template-rows: 86px 52px 56px 56px 100px 100px 100px 220px 220px 100px 100px 100px auto 100px 100px 100px 100px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 9.7% 0 9.7%;
}

.title {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-weight: 700;
  font-size: 2.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #A81E1C;
}

.subTitle {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 5;
  text-align: center;
  font-size: 2.5rem;
  color: #A81E1C;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .06em;
  font-weight: 500;
}

.subTitleAbout {
  color: #A81E1C;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 5;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.1em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.subTitleSkills {
  color: #A81E1C;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 6;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}

.image {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: 7 / 7 / 9 / 9;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  justify-self: flex-end;
  position: relative;
  right: -41px;
  top: 2px;
}

.image a:-webkit-any-link {
  align-self: flex-end;
  position: relative;
  top: 30px;
  z-index: 2;
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  text-decoration: none;
  position: relative;
}

.image a:-moz-any-link {
  align-self: flex-end;
  position: relative;
  top: 30px;
  z-index: 2;
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  text-decoration: none;
  position: relative;
}

.image a:any-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  top: 30px;
  z-index: 2;
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  text-decoration: none;
  position: relative;
}

.image a:-webkit-any-link :before {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.image a:-moz-any-link :before {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.image a:any-link :before {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.image a:-webkit-any-link :hover:before {
  color: black;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.image a:-moz-any-link :hover:before {
  color: black;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.image a:any-link :hover:before {
  color: black;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.persons {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 5 / 1 / 6 / 6;
  height: 100%;
  height: 8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.persons .person {
  width: calc(1fr-8px);
  height: 100%;
  background: #fffaf1;
  border: 1px solid #95989a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 7 / 1 / 9 / 6;
  height: 100%;
  position: relative;
  color: black;
  font-size: 11px;
  letter-spacing: 0.2em;
  z-index: 40;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='102%' style='fill: none; stroke: black; stroke-width: 3; stroke-dasharray: 8 2'/></svg>");
}

.about .aboutBottomContainer {
  position: relative;
  margin-top: auto;
}

.about .aboutBottomContainer .aboutBottom {
  height: 60px;
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  bottom: -19.7px;
  left: 0.7px;
  position: relative;
  background-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' viewBox='0 0 716.24 50.54' xmlns='http://www.w3.org/2000/svg' version='1.1'><path  d='M.11,36.06s1.33-.3,3.91-.84'/><path style='fill: none; stroke: black; stroke-width: 2; stroke-dasharray: 8 2' stroke-dashoffset='8'  d='M1,34.81C53.45,25,338.65-33.34,712.24,35'/><path class='cls-1' d='M712.24,35.19l3.91.87'/></svg>");
  background-position-y: center;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.aboutText {
  text-align: center;
}

.postsTitle {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 9 / 4 / 10 / 6;
  text-align: start;
  padding-left: .35em;
  padding-top: .6em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 600;
  background: white;
  color: #633f39;
  border: 1px solid #A81E1C;
  font-family: 'Righteous', cursive;
  font-weight: 700;
  font-size: 2.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 24px;
}

.cardSection {
  background: #FFFFFF;
  -ms-grid-row: 10;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 10 / 1 / 14 / 9;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-content: center; */
  /* justify-items: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.LinkCard .content {
  background-color: #FFFAF1 !important;
  border-radius: 2px;
}

.LinkCard:before, .LinkCard:after {
  border-radius: 3px;
}

.LinkCard:before {
  border: #A81E1C solid 1px;
}

.LinkCard:after {
  border: #A81E1C solid 1px;
}

.stacked {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.stacked:before, .stacked:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform;
}

.stacked:before {
  z-index: -1;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.stacked:after {
  z-index: -2;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.stacked:hover {
  -webkit-transform: translate(-2.5px, 0) rotate(-2.5deg);
          transform: translate(-2.5px, 0) rotate(-2.5deg);
}

.stacked:hover:before {
  -webkit-transform: translate(2.5px, 0) rotate(2.5deg);
          transform: translate(2.5px, 0) rotate(2.5deg);
}

.stacked:hover:after {
  -webkit-transform: translate(5px, 0) rotate(5deg);
          transform: translate(5px, 0) rotate(5deg);
}
/*# sourceMappingURL=index.module.css.map */