@import '../../components/layouts/variables';



a:any-link {
  // border: 1px solid blue; //TODO: delete 
  color: $colorAccentDark;
}




.pageContainer {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  // grid-template-columns: 11.286% 11.286% 11.286% 11.286% 11.286% 11.286% 11.286% 11.286%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 86px 52px 56px 56px 100px 100px 100px 220px 220px 100px 100px 100px 100px 100px 100px 100px 100px 100px ;
  // height: 100vh;
  // width: 100%;
  align-items: center;
  // grid-gap: 16;
  // background-color: rgba(158, 158, 158, 0.171);
  margin: 0 9.7% 0 9.7%;
}



.title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 5;

  align-self: center;
  text-align: center;
  align-items: center;

  // font-size: 49px;
  margin: 0;
  padding: 0;
  @include fontDisplay;
  color: $colorAccentDark;

}



.subTitle {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 5;

  text-align: center;
  // align-self: center;
  font-size: 2.5rem;
  color: $colorAccentDark;
  @include fontDisplaySub;
}



.subTitleAbout {
  color: $colorAccentDark;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 5;

  text-align: center;
  font-size: 25px;
  letter-spacing: 0.1em;

  align-self: end;
}



.subTitleSkills {
  color: $colorAccentDark;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 6;

  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}



.image {
  grid-area: 7 / 7 / 9 / 9;
  align-self: flex-end;
  width: 100%;
  justify-self: flex-end;
  position: relative;
  right: -41px;
  top: 2px;

  a:any-link {
    align-self: flex-end;
    position: relative;
    top: 30px;
    z-index: 2;
    @include link(16px);
  }
}


// Cards with pictures and names of Personal
.persons {
  grid-area: 5 / 1 / 6 / 6;
  height: 100%;
  height: 8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 
  grid-column-gap: 16px;
  .person {
    //  minHeight: '50px',
    //  minWidth: '50px',
    width: calc(1fr-8px);
    height: 100%;
    background: #fffaf1;
    border: 1px solid #95989a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    &1 {
      // grid-area: 4 / 1 / 8 / 4;
      // background: red;
    }

    &2 {}
  }
}

// About section ------
.about {
  grid-area: 7 / 1 / 9 / 6;
  
  // width: 718.03px;
  // height: 308.51px;
  height: 100%;
  // background: url(/images/About.svg);
    

    // padding-top: 15px;
    position: relative;
    // background: red;
    color: black;
    font-size: 11px;
    letter-spacing: 0.2em;
    z-index: 40;
    
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    justify-content: flex-start;

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='102%' style='fill: none; stroke: black; stroke-width: 3; stroke-dasharray: 8 2'/></svg>");
    & .aboutBottomContainer{
      position: relative;
      // margin: 0 auto;
      // justify-self: end;
      margin-top: auto;
      // height: 60px;
      // background-clip: content-box; 
      .aboutBottom {
        // background: red;
        // background: url("/src/images/1x/Artboard\ 3-8.png");
        height: 60px;
        width: 100%;
        align-self: end;
        bottom: -19.7px;
        left: 0.7px;
        position: relative;
        background-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' viewBox='0 0 716.24 50.54' xmlns='http://www.w3.org/2000/svg' version='1.1'><path  d='M.11,36.06s1.33-.3,3.91-.84'/><path style='fill: none; stroke: black; stroke-width: 2; stroke-dasharray: 8 2' stroke-dashoffset='8'  d='M1,34.81C53.45,25,338.65-33.34,712.24,35'/><path class='cls-1' d='M712.24,35.19l3.91.87'/></svg>");
        background-position-y: center;
        background-repeat: no-repeat;
        background-clip: border-box;
        
        
    }
    

      


      // height: 500px important;
      // width: min-content;
      // display: block;
      // border: 0px solid black;
      // z-index: 50;
    }

    &ButtonMore {
      // flex-grow: 1; 
    }
    &Text {
      // grid-area: 7 / 1 / snan 4 / 6;
      text-align: center;
      
    }
    &SVG {
      // grid-area: 7 / 1 / auto / 6;
    }
  }
 


  // Card section ------------
  .postsTitle {
    grid-area: 9 / 4 / 10 / 6;
    @include titleSection;
  }
  .cardSection {
     background: $colorWhite;
     grid-area: 10 / 1 / 14 / 9;
      height: 100%;
      justify-content: center;
      /* align-content: center; */
      /* justify-items: center; */
      align-items: center;
      display: flex;
      flex-direction: row;

  }
// ----end of card section-------





// -----Link Amimation------------------------------------------------------------
// -----link container -------
.LinkCard {
  $card-color-1: $colorMain;
  $card-color-2: $colorAccentDark;
  ;
  $card-color-3: $coloraAccent;

  .content {
    background-color: $card-color-1 !important;
    border-radius: 2px;
  }

  &:before,
  &:after {
    border-radius: 3px;
  }

  &:before {
    // background-color: $card-color-2 !important;
    border: $card-color-2 solid 1px;

  }

  &:after {
    // background-color: $card-color-3 !important;
    border: $card-color-2 solid 1px;
  }

  .linkText {
    // background-color: $card-color-3 !important;
    // border: $card-color-2 solid 1px;
  }

  ;
}

// ----link animation using transition-------
$bg-color: $colorAccentDark;
$animation-timing: 0.3s;
$animation-ease: ease-in-out;
$animation-ease-bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.stacked {
  position: relative;
  transition: transform $animation-timing $animation-ease;
  will-change: transform;
  transform-origin: center bottom;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-color: $coloraAccent;
    transition: transform $animation-timing $animation-ease;
    will-change: transform;
  }

  &:before {
    z-index: -1;
    transform-origin: center bottom;
  }

  &:after {
    z-index: -2;
    transform-origin: center bottom;
  }

  &:hover {
    transform: translate(-2.5px, 0) rotate(-2.5deg);

    &:before {
      transform: translate(2.5px, 0) rotate(2.5deg);
    }

    &:after {
      transform: translate(5px, 0) rotate(5deg);
    }
  }
}

// ----END of Link Animation--------